<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/k8s_logo_with_border.svg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>{% block title %}Auto MicroK8s Cluster{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="brand">
                <img src="{{ url_for('static', filename='images/k8s_logo_with_border.svg') }}" alt="Kubernetes Logo"
                    class="logo" />
                <h1>Auto MicroK8s Cluster</h1>
            </div>
            <ul>
                {% if session.authenticated %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&#169; 2025 AW6 LLP</p>
    </footer>
</body>

</html>